body{ 
    margin:0;
    padding:0;
    text-align: center;
    background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(images/home.png);
    background-size: cover;
    background-position: center;
    font-family:sans-serif;
   }

.container {
    padding: 0 5%;
}

.title {
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    height: 80px;
}
